.wrapper {
    background: #151515;
    border-radius: 999px;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #90d02c;
}

.input {
    width: 100%;
    border: none;
    background: transparent;
    color: #fff;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #90d02c;
    opacity: 1;
}