.state {
    text-align: center;
    padding: 2rem 0;
    color: #aaa;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

/* MOBILE */
@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 0.75rem;
    }
}